<h1>Stupid Coaching</h1>
<div class = "qa_set">
<p><%= params[:ask] %></p>
<p><em>-You</em></p>
</div>
<div class = "ans_set">
<p><strong><%=@test_answers%></strong></p>
<p><em>-Coach</em></p>
</div>
<%= link_to "Ask", ask_path %>
